/* COMMON */
body {
  color: #333;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
img {
  display: block;
}
a {
  text-decoration: none;
}

/* Header */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}

header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;

  position: relative;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  display: flex;
  top: 10px;
  right: 0;
  position: absolute;
}
header .sub-menu ul.menu {
  display: flex;
  font-family: Arial sans-serif;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child:before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  position: relative;
  height: 34px;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  /* input창에 쓰여질 글씨 색 */
  color: #777;
  font-size: 12px;
  /* 전환 효과 */
  transition: width 0.4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  /* 수직 정렬을 위해 높이값을 준다(아이콘 크기 또한 계산하기 때문,) */
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  /* 왜 전환 안되냐 ?.. */
  transition: 0.4;
}
/* search와 focused는 일치선택자여야 한다. 왜냐면 search에 붙고 빠지니까 */
header .sub-menu .search.focused .material-icons {
  /* 투명도 100%로 바꾼거구나 ? 1이 기본값이니까 */
  opacity: 0;
}
